* {
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #231c1a;
    height: 80px;
    width: 100%;
}
header h1 {
    color: brown;
    position: absolute;
    left: 60px;
    top: 0;
    line-height: 80px;
    background-image: url(img/root.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    /* text-indent: -9999px; */
    background-size: contain;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header li {
    display: inline;
    color: #fff;
    margin-right: 2vw;
}
.job {
    background-color: bisque;
    /* color: white; */
    height: 95vh;
    background-image: url("img/root0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.job h1 {
    color:#d6ccc0;
    font-size: 125px;
    font-weight: bold;
    height: 600px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.job h2 {
    color:#d6ccc0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.job h3 {
    margin: 15px 0;
}

.cat {
    color: orange;
}
.eagle {
    color: rgb(87, 159, 228);
}
.forest {
    color: rgb(143, 218, 143);
}
.raccoon {
    color: rgb(241, 239, 212);
}
img {
    width: 500px;
}
.battle {
    background-color: #FFEEDF; 
    display: flex;
}
.battle img{
    width: 50%;
    opacity: 0.5;
}
.battle_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.battle_info h4{
    font-size: 40px;
    margin-bottom: 30px;
}
.move {
    background-color: rgb(190, 126, 47);
    /* height: 95vh; */
    /* background-image: url("img/root0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    display: flex;
}
.move img {
    width: 50%;
    opacity: 0.5;
}
.move_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.move_info h4 {
    font-size: 40px;
    margin-bottom: 30px;
}
.bggweb {
    display: flex;
    background-color: antiquewhite;
    height: 50px;
}
.bggweb a {
    font-size: 20px;
    color: green;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding: 10px 20px;
    border-radius: 5px;
}
.sleeve_title {
    background-color:  #ede9db;
    text-align: center;
    /* justify-content: center; */
}
.sleeves {
    display: flex;
    background-color: #ede9db;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
}
.sleeves div {
    width: 300px;
    text-align: center;
}
.sleeves img {
    width: 100%;
    border-radius: 10px;
}
.sleeves p {
    font-size: 40px;
}
.hidden {
    opacity: 0;
    transition: opacity 5s ease;
}
/* section{
    background-color: bisque;
    /* border: 5px red solid; */
    /* padding: 30px 50px;
    margin: 30px; */
/* } */
footer {
    height: 2vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
